.env
*.env
*.log
.DS_Store

node_modules/
**/node_modules/

server/src/modules/.env
server/src/modules/db.js
server/src/modules/server.js
server/src/modules/app.js
server/src/modules/package-lock.json
server/src/modules/node_modules/