# Main Server Configuration

# Server Port
MAIN_SERVER_PORT=3000

# Service Identification
SERVICE_NAME=main-server

# Environment
NODE_ENV=development

# Log Service Configuration
LOG_SERVICE_PORT=3001
LOG_SERVICE_URL=http://localhost:3001/logs

# MongoDB
MONGODB_URI=mongodb://localhost:27017/logs

# Logging
LOG_LEVEL=debug

# Microservice Configuration
X_SERVICE_SECRET=supersecretkey

# Microservice URLs
EXAM_SERVICE_URL=http://localhost:3002
STUDENT_EXAM_SERVICE_URL=http://localhost:3005
GRADE_CHEAT_SERVICE_URL=http://localhost:3004
